@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');



a:hover{
    background-color: #0056b3 !important;
    color: #eee !important;
    text-decoration: none !important;
}
.hidden {
     display: none !important; 
}
.visible {
     display: block !important; 
}
.active-category {
    background-color: #0056b3!important;
    color: #eee !important;

}
